.Rectangle {
  width: 1224px;
  height: 140px;
  border-radius: 4px;
  border: solid 2px #00357c;
  background-color: #ffffff;
  color: #00357c;
  font-family: Roboto;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}

.Rectangle-Title {
  width: 311px;
  height: 28px;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: normal;
}

.Rectangle-Subtitle {
  width: 604px;
  height: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: normal;
}

.Rectangle-Col {
  float: left;
  height: 140px;
}